.form-group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.gender-options {
    display: flex;
    gap: 15px;
    margin-left: 10px;
}
